{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Ajouter une nouvelle série</h1>
        <a class="btn btn-outline-secondary" href="{{ path('program_index') }}">Retour à l'index des séries</a>
        <div class="jumbotron">
            {{ include('program/_form.html.twig') }}
            <button class="btn btn-primary mt-2">Ajouter</button>

        </div>
    </div>
{% endblock %}
