@import "~bootstrap/scss/bootstrap";

$primary: #e34234;
$secondary:#cfe1f8;
$text-light: #fff;
$text-dark: #353535;

.nav {
  background-color: $primary;
}

.nav a {
  color: $text-light;
  letter-spacing: 0.1em;
}

img {
  width: 20%;
}

.form {
  padding: 1em;
}
.row {
  flex-direction: column;
}
.form-control {
  width: 20%;
}

section {
  padding: 20px;
}