<ul class="nav justify-content-around p-1">
    <li class="nav-item">
        <a class="nav-link active" href="/"><i class="fas fa-film"></i> Wild Séries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('wild_index') }}">Séries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Acteurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes séries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Connexion <i class="fas fa-user"></i></a>
    </li>
</ul>