<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><i class="fas fa-film"></i> Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('wild_index') }}">Séries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes Séries</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('program_index') }}">Série</a>
                    <a class="dropdown-item" href="{{ path('season_index') }}">Saison</a>
                    <a class="dropdown-item" href="{{ path('episode_index') }}">Episode</a>
                    <a class="dropdown-item" href="">Acteur</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Connexion <i class="fas fa-user"></i></a>
            </li>
        </ul>
    </div>
</nav>
